<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kgeography" version="1">
	<MenuBar>
		<Menu name="file">
			<Action name="openMap" />
			<Action name="goToMenu" />
			<Separator />
			<Action name="quit" />
		</Menu>
		<Menu name="view">
			<Action name="zoom" />
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<Action name="zoom" />
	</ToolBar>
</kpartgui>
