[Desktop Entry]
Encoding=UTF-8
Name=KGeography
GenericName=Geography Trainer
GenericName[es]=Geografía
GenericName[et]=Geograafia õpiprogramm
Comment=A Geography Learning Program
Comment[es]=Un programa para conocer los países y sus capitales
Comment[et]=Geograafia õpiprogramm
Exec=kgeography
Icon=kgeography
Type=Application
Terminal=false
Categories=Qt;KDE;Education;
