[Desktop Entry]
Name=KGeography
Name[bn]=কে-জিওগ্রাফি
Name[hr]=KZemljopis
Name[nds]=KGeographie
Name[ne]=केडीई भूगोल
Name[pa]=ਕੇ-ਭੂਗੋਲ
Name[sv]=Kgeografi
Name[vi]=Địa lý K
GenericName=Geography Trainer
GenericName[be]=Настаўнік па геаграфіі
GenericName[bg]=Географски тренировки
GenericName[bn]=ভূগোল প্রশিক্ষক
GenericName[bs]=Učitelj geografije
GenericName[ca]=Entrenador de geografia
GenericName[cs]=Procvičování zeměpisu
GenericName[csb]=Cwiczënczi z geògrafiji
GenericName[cy]=Hyfforddydd Daearyddiaeth
GenericName[da]=Geografitræner
GenericName[de]=Geographie-Trainer
GenericName[el]=Εκπαιδευτής στη γεωγραφία
GenericName[eo]=Geografia trajnilo
GenericName[es]=Geografía
GenericName[et]=Geograafia õpiprogramm
GenericName[eu]=Geografia entrenatzailea
GenericName[fa]=مربی جغرافیا
GenericName[fi]=Maantieteen harjoittaja
GenericName[fr]=Apprentissage de la géographie
GenericName[ga]=Traenálaí Tíreolaíochta
GenericName[gl]=Titor de Xeografía
GenericName[he]=מאמן גאוגרפיה
GenericName[hr]=Vježbanje u zemljopisu
GenericName[hu]=Földrajztanító
GenericName[is]=Landafræðiþjálfun
GenericName[it]=Impara la geografia
GenericName[ja]=地理学トレーナー
GenericName[ka]=გეოგრაფიის სავარჯიშოები
GenericName[km]=កម្មវិធី​បង្ហាត់​ភូមិវិទ្យា
GenericName[lt]=Geografijos treniruoklis
GenericName[ms]=Jurulatih Geografi
GenericName[nb]=Geografitrening
GenericName[nds]=Eerdkunn lehren
GenericName[ne]=भूगोल शिक्षक
GenericName[nl]=Geografietrainer
GenericName[nn]=Geografiøvingssystem
GenericName[pa]=ਭੂਗੋਲ ਸਿਖਲਾਈ
GenericName[pl]=Ćwiczenia z geografii
GenericName[pt]=Treinar Geografia
GenericName[pt_BR]=Treinamento em Geografia
GenericName[ru]=Тренировка знаний по географии
GenericName[sk]=Geografický tréner
GenericName[sl]=Učenje zemljepisa
GenericName[sr]=Тренер географије
GenericName[sr@Latn]=Trener geografije
GenericName[sv]=Geografiövning
GenericName[tr]=Coğrafya Eğitmeni
GenericName[uk]=Тренування знань з географії
GenericName[vi]=Luyện tập Địa lý
GenericName[zh_CN]=地理老师
GenericName[zh_TW]=地理知識
Comment=A Geography Learning Program
Comment[be]=Праграма для вывучэння геаграфіі
Comment[bg]=Програма за изучаване на география
Comment[bn]=ভূগোল শেখার প্রোগ্রাম
Comment[bs]=Program za učenje geografije
Comment[ca]=Un programa per aprendre geografia
Comment[cs]=Zeměpisný výukový program
Comment[csb]=Programa do ùczbë geògrafiji
Comment[cy]=Rhaglen ar gyfer Dysgu Daearyddiaeth
Comment[da]=Et indlæringsprogram for geografi
Comment[de]=Ein Geographie-Lernprogramm
Comment[el]=Μία εφαρμογή εκμάθησης γεωγραφίας
Comment[eo]=Programo por lerni geografion
Comment[es]=Un programa para conocer los países y sus capitales
Comment[et]=Geograafia õpiprogramm
Comment[eu]=Geografia ikasteko programa
Comment[fa]=برنامۀ یادگیری جغرافیا
Comment[fi]=Maantieteen oppimisohjelma
Comment[fr]=Un programme d'apprentissage de la géographie
Comment[ga]=Clár Foghlamtha Tíreolaíochta
Comment[gl]=Un programa para Aprender Xeografía
Comment[he]=תוכנה ללמידת גאוגרפיה
Comment[hr]=Program za učenje zemljopisa
Comment[hu]=Földrajztanító program
Comment[is]=Landafræði forrit
Comment[it]=Un programma per imparare la geografia
Comment[ja]=地理学学習プログラム
Comment[ka]=გეოგრაფიის სასწავლო პროგრამა
Comment[km]=កម្មវិធី​រៀន​ភូមិវិទ្យា
Comment[lt]=Geografijos mokymo programa
Comment[nb]=Et program for å lære geografi
Comment[nds]=En Eerdkunn-Lehrprogramm
Comment[ne]=भूगोल सिक्ने कार्यक्रम
Comment[nl]=Een geografie leerprogramma
Comment[nn]=Eit program for å læra geografi
Comment[pa]=ਭੂਗੋਲ ਸਿਖਾਉਣ ਵਾਲਾ ਪਰੋਗਰਾਮ
Comment[pl]=Program do nauki geografii
Comment[pt]=Um Programa de Aprendizagem de Geografia
Comment[pt_BR]=Um programa de aprendizagem de geografia
Comment[ru]=Программа для изучения географии
Comment[sk]=Geografický výukový program
Comment[sl]=Program za učenje zemljepisa
Comment[sr]=Програм за учење географије
Comment[sr@Latn]=Program za učenje geografije
Comment[sv]=Ett program för att lära sig geografi
Comment[tr]=Bir Coğrafya Öğrenme Programı
Comment[uk]=Програма для вивчення географії
Comment[vi]=Một Chương trình giúp Học Địa lý
Comment[zh_CN]=地理学习程序
Comment[zh_TW]=學習地理的程式
Exec=kgeography
Icon=kgeography
Type=Application
DocPath=kgeography/index.html
Terminal=false
Categories=Qt;KDE;Education;
